@tailwind base;
@tailwind components;
@tailwind utilities;





.yellow {
  --yellow1: hsl(60, 54.0%, 98.5%);
  --yellow2: hsl(52, 100%, 95.5%);
  --yellow3: hsl(55, 100%, 90.9%);
  --yellow4: hsl(54, 100%, 86.6%);
  --yellow5: hsl(52, 97.9%, 82.0%);
  --yellow6: hsl(50, 89.4%, 76.1%);
  --yellow7: hsl(47, 80.4%, 68.0%);
  --yellow8: hsl(48, 100%, 46.1%);
  --yellow9: #f5d90a;
  --yellow10: hsl(50, 100%, 48.5%);
  --yellow11: hsl(42, 100%, 29.0%);
  --yellow12: hsl(40, 55.0%, 13.5%);
}




/* Switch component */
/* https://www.radix-ui.com/docs/primitives/components/switch */
@import '@radix-ui/colors/blackA.css';

button {
    all: unset;
  }
  
  .SwitchRoot {
    width: 42px;
    height: 25px;
    background-color: var(--blackA9);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--blackA7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
  }
  .SwitchRoot[data-state='checked'] {
    background-color: black;
  }
  
  .SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--blackA7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
  }
  .SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
  }
  /* end of Switch component */
  

/* Seperator component */
/* https://www.radix-ui.com/docs/primitives/components/separator */
@import '@radix-ui/colors/violet.css';

.SeparatorRoot {
  background-color: var(--violet6);
}
.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}
/* end of Separator component */