@tailwind base;
@tailwind components;
@tailwind utilities;

/* Current colors: tailwind.config.cjs */
/* New colors: https://www.radix-ui.com/colors */

  

/* .red {
  --red1: hsl(359, 100%, 99.4%);
  --red2: hsl(359, 100%, 98.6%);
  --red3: hsl(360, 100%, 96.8%);
  --red4: hsl(360, 97.9%, 94.8%);
  --red5: #fdd8d8;
  --red6: hsl(360, 81.7%, 87.8%);
  --red7: hsl(359, 74.2%, 81.7%);
  --red8: hsl(359, 69.5%, 74.3%);
  --red9: hsl(358, 75.0%, 59.0%);
  --red10: hsl(358, 69.4%, 55.2%);
  --red11: hsl(358, 65.0%, 48.7%);
  --red12: hsl(354, 50.0%, 14.6%);
}

these low level reds are not as expected
.redA {
  --redA1: hsla(0, 100%, 51.0%, 0.012);
  --redA2: hsla(0, 100%, 51.0%, 0.032);
  --redA3: hsla(0, 100%, 50.2%, 0.063);
  --redA4: hsla(0, 100%, 50.0%, 0.102);
  --redA5: #f2000027;
  --redA6: hsla(0, 99.5%, 44.9%, 0.224);
  --redA7: hsla(359, 99.7%, 42.7%, 0.318);
  --redA8: hsla(359, 99.6%, 41.1%, 0.436);
  --redA9: hsla(358, 99.9%, 42.9%, 0.718);
  --redA10: hsla(358, 99.9%, 41.0%, 0.761);
  --redA11: #c30007d4;
  --redA12: hsla(355, 99.3%, 7.9%, 0.926);
} */

/* .whiteA {
  --whiteA1: hsla(0, 0%, 100%, 0);
  --whiteA2: hsla(0, 0%, 100%, 0.013);
  --whiteA3: hsla(0, 0%, 100%, 0.034);
  --whiteA4: hsla(0, 0%, 100%, 0.056);
  --whiteA5: hsla(0, 0%, 100%, 0.086);
  --whiteA6: hsla(0, 0%, 100%, 0.124);
  --whiteA7: hsla(0, 0%, 100%, 0.176);
  --whiteA8: hsla(0, 0%, 100%, 0.249);
  --whiteA9: hsla(0, 0%, 100%, 0.386);
  --whiteA10: hsla(0, 0%, 100%, 0.446);
  --whiteA11: hsla(0, 0%, 100%, 0.592);
  --whiteA12: #ffffffeb;
} */


/* .blackA {
  --blackA1: hsla(0, 0%, 0%, 0.012);
  --blackA2: hsla(0, 0%, 0%, 0.027);
  --blackA3: hsla(0, 0%, 0%, 0.047);
  --blackA4: hsla(0, 0%, 0%, 0.071);
  --blackA5: hsla(0, 0%, 0%, 0.090);
  --blackA6: hsla(0, 0%, 0%, 0.114);
  --blackA7: hsla(0, 0%, 0%, 0.141);
  --blackA8: hsla(0, 0%, 0%, 0.220);
  --blackA9: hsla(0, 0%, 0%, 0.439);
  --blackA10: hsla(0, 0%, 0%, 0.478);
  --blackA11: hsla(0, 0%, 0%, 0.565);
  --blackA12: #00000000;
} */

/* .gray {
  --gray1: hsl(0, 0%, 99.0%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: #f3f3f3;
  --gray4: #ededed;
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78.0%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9.0%);
} */


/* .grayDark {
  --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11.0%);
  --darkGray3: #232323;
  --darkGray4: #282828;
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93.0%);
} */


/* https://www.radix-ui.com/docs/primitives/components/switch */
@import '@radix-ui/colors/blackA.css';


/* I don't think I'm using any of this anymore now that the accordion is deleted */
button {
    all: unset;
  }
  
  .SwitchRoot {
    width: 42px;
    height: 25px;
    background-color: var(--blackA9);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--blackA7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
  }
  .SwitchRoot[data-state='checked'] {
    background-color: black;
  }
  
  .SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--blackA7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
  }
  .SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
  }
  
/* https://www.radix-ui.com/docs/primitives/components/separator */
@import '@radix-ui/colors/violet.css';

.SeparatorRoot {
  background-color: var(--violet6);
}
.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}
