@tailwind base;
@tailwind components;
@tailwind utilities;





.yellow {
  --yellow1: hsl(60, 54.0%, 98.5%);
  --yellow2: hsl(52, 100%, 95.5%);
  --yellow3: hsl(55, 100%, 90.9%);
  --yellow4: hsl(54, 100%, 86.6%);
  --yellow5: hsl(52, 97.9%, 82.0%);
  --yellow6: hsl(50, 89.4%, 76.1%);
  --yellow7: hsl(47, 80.4%, 68.0%);
  --yellow8: hsl(48, 100%, 46.1%);
  --yellow9: #f5d90a;
  --yellow10: hsl(50, 100%, 48.5%);
  --yellow11: hsl(42, 100%, 29.0%);
  --yellow12: hsl(40, 55.0%, 13.5%);
}


.blue {
  --blue1: hsl(206, 100%, 99.2%);
  --blue2: hsl(210, 100%, 98.0%);
  --blue3: hsl(209, 100%, 96.5%);
  --blue4: #e1f0ff;
  --blue5: hsl(209, 95.0%, 90.1%);
  --blue6: hsl(209, 81.2%, 84.5%);
  --blue7: #96c7f2;
  --blue8: #5eb0ef;
  --blue9: #0091ff;
  --blue10: #0081f1;
  --blue11: hsl(211, 100%, 43.2%);
  --blue12: hsl(211, 100%, 15.0%);
}


.blueDark {
  --blue1: hsl(212, 35.0%, 9.2%);
  --blue2: hsl(216, 50.0%, 11.8%);
  --blue3: hwb(214 6% 76%);
  --blue4: #102a4c;
  --blue5: hsl(213, 71.2%, 20.2%);
  --blue6: hsl(212, 77.4%, 23.1%);
  --blue7: #0a4481;
  --blue8: #0954a5;
  --blue9: #0091ff;
  --blue10: #369eff;
  --blue11: hsl(210, 100%, 66.1%);
  --blue12: hsl(206, 98.0%, 95.8%);
}

.olive {
  --olive1: hsl(110, 20.0%, 99.0%);
  --olive2: hsl(120, 16.7%, 97.6%);
  --olive3: hsl(119, 10.1%, 95.2%);
  --olive4: hsl(118, 8.1%, 93.0%);
  --olive5: hsl(117, 7.1%, 90.8%);
  --olive6: hsl(115, 6.4%, 88.5%);
  --olive7: hsl(114, 5.9%, 85.4%);
  --olive8: hsl(110, 5.2%, 77.3%);
  --olive9: hsl(110, 3.5%, 55.5%);
  --olive10: #818780;
  --olive11: hsl(110, 3.0%, 43.0%);
  --olive12: hsl(110, 25.0%, 9.5%);
}


.oliveDark {
  --olive1: hsl(110, 5.0%, 8.6%);
  --olive2: hsl(105, 7.4%, 10.6%);
  --olive3: hsl(106, 6.4%, 13.1%);
  --olive4: hsl(106, 5.8%, 15.3%);
  --olive5: hsl(107, 5.3%, 17.4%);
  --olive6: hsl(107, 4.9%, 19.9%);
  --olive7: hsl(108, 4.4%, 23.6%);
  --olive8: hsl(110, 3.8%, 30.6%);
  --olive9: hsl(110, 6.0%, 42.5%);
  --olive10: #778175;
  --olive11: hsl(110, 5.0%, 61.8%);
  --olive12: hsl(110, 6.0%, 93.0%);
}


/* Switch component */
/* https://www.radix-ui.com/docs/primitives/components/switch */
@import '@radix-ui/colors/blackA.css';

button {
    all: unset;
  }
  
  .SwitchRoot {
    width: 42px;
    height: 25px;
    background-color: var(--blackA9);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--blackA7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
  }
  .SwitchRoot[data-state='checked'] {
    background-color: black;
  }
  
  .SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--blackA7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
  }
  .SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
  }
  /* end of Switch component */
  

/* Seperator component */
/* https://www.radix-ui.com/docs/primitives/components/separator */
@import '@radix-ui/colors/violet.css';

.SeparatorRoot {
  background-color: var(--violet6);
}
.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}
/* end of Separator component */